{% extends 'base.html' %} {% block content %}

<br>
<!--! BOTONES ENVIAR RESET -->
<section class="holaaaaa">
    <button id="enviarCargado" onclick="EnviarProceso()" type="button" class="btn btn-success fa-2x"
        enabled>Enviar</button>
    <button onclick="restart()" href="http://localhost:8000" type="button" class="btn btn-danger fa-2x"
        enabled>Reset</button>
</section>

<!--! TEXTOS -->
<section>
    <div>
        <br>
        <table>
            <tr align="center">
                <td>
                    <h2>ENTRADA</h2>
                </td>
                <td>
                    <h2>SALIDA</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="input" wrap="on" id="textareaENTRADA" cols="70" rows="20" wrap="on"
                        enabled>{{ Entrada }}</textarea>
                </td>
                <td>
                    <textarea name="output" wrap="on" id="textareaSALIDA" cols="70" rows="20"
                        enabled>{{ Salida }}</textarea>
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr align="center"><h2>ERRORES</h2></tr>
            <tr><div id="error"></div></tr>
        </table>
        <br>
        <br>
    </div>

</section>
<script>
    const documentInput = document.getElementById('documentoXML');

    documentInput.addEventListener('change', (e) => {
        const file = e.target.files[0];
        const reader = new FileReader();
        reader.readAsText(file);
        reader.addEventListener('load', (e) => {
            textareaENTRADA.innerHTML = reader.result;
        });
    });

    window.addEventListener('load', AbrirArchivo, false);

    function AbrirArchivo() {
        document.getElementById('documentoXML').addEventListener('change', cargar, false);
    }
    function cargar(ev) {
        var arch = new FileReader();
        arch.addEventListener('load', leer, false);
        arch.readAsText(ev.target.files[0]);
    }
    function leer(ev) {
        sessionStorage.setItem("Para_Mostar_XML", ev.target.result);
    }
    

    
    function EnviarProceso() {
        //! ----------AQUI SE OBTIENE EL TEXTO DE ENTRADA DESDE EL SESSION STORAGE
        // var DatosArchivoXMLCargado = sessionStorage.Para_Mostar_XML

        //! ----------AQUI SE OBTIENE EL TEXTO DE ENTRADA NORMAL
        var DatosArchivoXMLCargado =  document.getElementById('textareaENTRADA').value;
        console.log(DatosArchivoXMLCargado)
        var objetoDatosXML = {
            'XMLdatos': DatosArchivoXMLCargado
        }
        //▬▬▬▬▬▬▬██████  Aquí se envian los datos para procesar  ██████▬▬▬▬▬▬▬
        fetch('http://localhost:5000/Procesar', {
            method: 'POST',
            body: JSON.stringify(objetoDatosXML),
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            }
        }).then(response => response.json())
            .catch(error => {
                console.error('Error:', err)
                alert("Ocurrio un error, ver la consola")
            })
            .then(res => {
                console.log(res)
                const block = document.getElementById('error');
                let strh = `<textarea name="output" id="output" wrap="on" id="textareaError" name="textareaError" cols="100" rows="15"
                    enabled>`+ res + `</textarea>`;
                block.innerHTML = strh;
                console.log('!!All Well!!')
                alert(res)

            })
    }
    
    function restart() {
        //▬▬▬▬▬▬▬██████  Aquí se envia el parametro de eliminar todo ██████▬▬▬▬▬▬▬
        sessionStorage.setItem("Para_Mostar_XML", "")
        fetch(`http://localhost:5000/reset`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            }
        })
        location.href = "http://localhost:8000"

    }

    function me() {
        location.href = "http://localhost:8000/misdatos"
    }

</script>
{% endblock content %}