{% extends 'base.html' %}
{% block content %}
<section id="news" data-stellar-background-ratio="2.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h1>Alvaro Emmanuel Socop Pérez</h1>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <a href="news-detail.html">
                        <img src="images/lavar.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <!-- <span>Medida 1</span> -->
                        <h3><a >CARNE:</a></h3>
                        <p>202000194</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                    <a href="news-detail.html">
                        <img src="images/saludar.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <h3><a>Curso y Sección:</a></h3>
                        <p>Introducción a la programación y computación 2 E</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                    <a href="news-detail.html">
                        <img src="images/desinfectante.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <h3><a >Correo Electrónico:</a></h3>
                        <p>3034161730108@ingenieria.usac.edu.gt</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <a href="news-detail.html">
                        <img src="images/nariz.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <h3><a ></a></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                    <a href="news-detail.html">
                        <img src="images/superficie.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <h3><a ></a></h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                    <a href="news-detail.html">
                        <img src="images/alimentos.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <h3><a ></a></h3>
                        <p></p>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section>
{% endblock content %}