{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <br>
    <h1>Resumen de IVA por fecha y NIT: </h1>

    <div class="row">
        <div class="row">
            <br>
            <h3>Filtro por fecha</h3>
            <br>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Fechas en Sistema: </label>
                <select class="form-select form-select-lg mb-1" id="inputGroupSelect01">
                    <option selected>Seleccione una fecha...</option>
                    {% for fecha in fechaslist %}
                    <option id="selectDate" value="{{ fecha }}">{{ fecha }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <br>
            <div align="center"><button type="submit" onclick="generateGraphic()" class="btn btn-primary ">Generar
                    grafica</button></div><br><br>

        </div>
        <div id="metergraph" align="center">

        </div>
        <br>

    </div>
    <br><br>
</div>

<script>
    let miCanvas = document.getElementById("myChart").getContext("2d")
    var imgData;
    var ruta;
    function generateGraphic() {
        datos = []
        labels = []
        let selectFecha = document.getElementById("inputGroupSelect01").value
        var selectFechaobj = {
            'date': selectFecha
        }
        fetch('http://localhost:5000/ResumenIva', {
            method: 'POST',
            body: JSON.stringify(selectFechaobj),
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            }
        }).then(response => response.json())
            .catch(error => {
                console.error('Error:', err)
                alert("Ocurrio un error, ver la consola")
            })
            .then(res => {
                console.log(res)
                alert(res)
            })




        fetch(`http://localhost:5000/ResumenIva`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            }
        })
            .then(res => res.json())
            .catch(err => {
                console.error('Error:', err)
                alert("Ocurrio un error, ver la consola")
            })
            .then(res => {
                console.log(res)
                const block = document.getElementById('metergraph');

                let strh = `<br>
                <h3>Filtro por fecha</h3><br>
                <img src="/static/images/`+ res + `" alt="texto descriptivo">`;
                ruta = "/static/images/" + res;
                block.innerHTML = strh;
                console.log('!!All Well!!')
                alert("!!Graph create Correctly !!")

            })



    }

</script>
{% endblock content %}
{% block pdf %}
<section>
    <button onclick="returnback()" class="au-btn au-btn--block au-btn--green m-b-20" type="button">Aceptar y
        Regresar</button>
    <button onclick="PDF()" style="text-align: center; margin-left: 42%;"
        class="au-btn au-btn--submit au-btn--green m-b-20" type="button">CAPTURAR PDF</button>
    <button onclick="PDF_GETDATA()" style="text-align: center; margin-left: 42%;"
        class="au-btn au-btn--submit au-btn--green m-b-20" type="button">Generar y Descargar PDF</button>
    <script>

        function PDF_GETDATA() {

            var n2 = parseInt(sessionStorage.n) + 1

            //OBTENGO LOS DATOS DE LOS TEXT
            // var date = document.querySelector('#date').value
            // var paciente = document.querySelector('#paciente').value

            // var descripcion = document.querySelector('#descripcion').value
            var descripcion = document.getElementById("inputGroupSelect01").value
            // var enfermedades = document.querySelector('#enfermedades')
            // enfermedades = enfermedades.options[enfermedades.selectedIndex].text;
            //████████████████var doctor=sessionStorage.Nombredoctor

            var pdf = new jsPDF();
            var bodytab = document.getElementById("tablapedido");
            var tabjson = pdf.autoTableHtmlToJson(bodytab);
            var headerTxt = " REPORTE                                          CONSULTA DE DATOS"
            var enca1 = "Dirección: 11 Avenida, Cdad. de Guatemala 01012"
            var enca2 = "el de la SAT: 77753993"


            pdf.setTextColor(0, 0, 0);
            pdf.setFontSize(9);
            pdf.text(20, 20, 'Dirección: 11 Avenida, Cdad. de Guatemala 01012');
            pdf.text(20, 25, 'Telefono: 77753993');
            pdf.text(20, 30, 'Lugar: Guatemala');

            pdf.setFontSize(12);



            pdf.setDrawColor(0);
            pdf.setFillColor(51, 153, 255);
            pdf.rect(20, 35, 80, 8, 'FD'); // filled red square with black borders
            pdf.setDrawColor(0);
            pdf.setFillColor(224, 224, 224);
            pdf.rect(20, 43, 80, 8, 'FD'); // filled red square
            pdf.setTextColor(255, 255, 255);
            pdf.text(22, 40, 'NOMBRE DE REPORTE:');
            pdf.setTextColor(0, 0, 0);
            pdf.text(25, 49, 'Consultar Datos');// 

            // //PACIENTE 
            // pdf.setDrawColor(0);
            // pdf.setFillColor(51, 153, 255);
            // pdf.rect(20, 51, 80, 8, 'FD'); // filled red square with black borders
            // pdf.setDrawColor(0);
            // pdf.setFillColor(224, 224, 224);
            // pdf.rect(20, 59, 80, 8, 'FD'); // filled red square
            // pdf.setTextColor(255, 255, 255);
            // pdf.text(22, 57, 'NOMBRE DEL PACIENTE:');
            // pdf.setTextColor(0, 0, 0);
            // pdf.text(25, 65, `   ${paciente}`);


            //NO FACTURA Y FECHA
            pdf.setDrawColor(0);
            pdf.setFillColor(51, 153, 255);
            pdf.rect(130, 20, 36, 8, 'FD'); // filled red square with black borders
            pdf.setDrawColor(0);
            pdf.setFillColor(51, 153, 255);
            pdf.rect(160, 20, 30, 8, 'FD'); // filled red square with black borders
            pdf.setTextColor(255, 255, 255);
            pdf.text(130, 26, 'No. PDF');
            pdf.text(160, 26, '    FECHA');


            pdf.setDrawColor(0);
            pdf.setFillColor(224, 224, 224);
            pdf.rect(130, 28, 36, 8, 'FD'); // filled red square with black borders
            pdf.setDrawColor(0);
            pdf.setFillColor(224, 224, 224);
            pdf.rect(160, 28, 30, 8, 'FD'); // filled red square with black borders
            pdf.setTextColor(0, 0, 0);
            pdf.text(130, 34, '         1');
            pdf.text(160, 34, '     04/11/2021');

            //ID CLIENTE Y TÉRMINOS
            pdf.setDrawColor(0);
            pdf.setFillColor(51, 153, 255);
            pdf.rect(130, 40, 60, 8, 'FD'); // filled red square with black borders
            pdf.setDrawColor(0);
            pdf.setFillColor(51, 153, 255);
            pdf.rect(130, 40, 60, 8, 'FD'); // filled red square with black borders
            pdf.setTextColor(255, 255, 255);
            pdf.text(130, 46, '         FECHA GENERADA ');
            pdf.text(160, 46, `                 `);

            pdf.setDrawColor(0);
            pdf.setFillColor(224, 224, 224);
            pdf.rect(130, 48, 60, 8, 'FD'); // filled red square with black borders
            pdf.setDrawColor(0);
            pdf.setFillColor(224, 224, 224);
            pdf.rect(130, 48, 60, 8, 'FD'); // filled red square with black borders
            pdf.setTextColor(0, 0, 0);
            pdf.text(130, 54, `        ${descripcion}`);
            pdf.text(160, 54, ` `);





            var columns = ["GRÁFICO DE RESUMEN DE IVA POR CADA NIT"];
            var data = [
                [` FECHA GENERADA: ${descripcion}`],
            ];

            // function getDataUrl(img) {
            //     // Create canvas
            //     const canvas = document.createElement('canvas');
            //     const ctx = canvas.getContext('2d');
            //     // Set width and height
            //     canvas.width = img.width;
            //     canvas.height = img.height;
            //     // Draw the image
            //     ctx.drawImage(img, 0, 0);
            //     return canvas.toDataURL('image/jpeg');
            // }
            // // Select the image
            // const img = document.querySelector('#my-image');
            // img.addEventListener('load', function (event) {
            //     const dataUrl = getDataUrl(event.currentTarget);
            //     console.log(dataUrl);
            // });
            // var doc = new jsPDF();
            // var imgData = 'data:image/jpeg;base64,' + Base64.encode(ruta);
            // console.log(imgData);
            // // doc.setFontSize(40);
            // // doc.text(30, 20, 'Hello world!');
            // pdf.output('datauri');
            pdf.addImage(imgData, 'JPEG', 15, 40, 180, 160);
            // console.log(imgData)
            // pdf.addImage(imgData, 'JPEG', 10, 40, 180, 180);
            // imgData.onload = function(){
            // pdf.addImage(imgData , 'JPEG', 10, 40, 180, 180);
            // console.log("siuuuuuuuuuuuuuu")
            // // doc.save('myPDF.pdf');
            // };
            // var elementHandler = {
            //     '#ignorePDF': function (element, renderer) {
            //         return true;
            //     }
            // };
            // var source = window.document.getElementsByTagName("html")[0];
            // pdf.fromHTML(
            //     source,
            //     15,
            //     15,
            // );
            // var elementToPrint = document.getElementById('metergraph');
            // pdf.addHTML(elementToPrint, () => {
            //     pdf.autoPrint();
            //     // doc.save('Test.pdf');
            // });

            // var header = function (data) {
            //     pdf.setFontSize(18);
            //     pdf.setTextColor(10);
            //     pdf.setFontStyle('normal');
            //     doc.addImage(headerImgData, 'JPEG', data.settings.margin.left, 20, 50, 50);
            //     pdf.text(headerTxt, data.settings.margin.left, 10);

            // };
            var options = {
                beforePageContent: header,
                margin: { top: 15 },
                startY: 70
            };
            pdf.autoTable(columns, data, options);
            pdf.save('PDF_GET_DATA.pdf');

            sessionStorage.setItem("n", n2)
        }

    </script>
</section>
{% endblock pdf %}